header{
    background-color: #116062;
    position: sticky;
    top: 0;
    z-index: 1;
}

.container_header{
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    width: 100%;
    gap: 10px;
}

.title{
    color: #ffffff;
    font: bold 48px "Martian Mono", system-ui;
    display: flex;
    justify-content: left;
    margin: 0;
    font-style: italic;
}

.nav{
    flex-grow: 1;
}

.nav_menu{
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
    gap: 10px;
    padding-top: 13px;
}

.nav_a{
    color: white;
    text-decoration: 0;
    text-transform: uppercase;
    font-size:19px;
    font-family: "Martian Mono", system-ui;
}

.nav_a__this{
    color: rgba(84, 255, 170, 0.84);
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
    font-size:19px;
    padding: 0.5rem;
    border: solid 2px rgba(136, 252, 189, 0.84);
    font-family: "Martian Mono", system-ui;
}

/*li:nth-child(odd) .nav_a{*/
/*    color: black;*/
/*}*/

body{
    background-color: rgba(227, 255, 240, 0.84);
    margin: 0;
}

.container_main{
    display: flex;
}

.aside_ad {
    display: flex;
    flex-direction: column;
    vertical-align: central;
    flex-basis: 20%;
    background-color: rgba(157, 241, 195, 0.84);
    padding: 0 10px;
    position: sticky;
    align-items: stretch;
    z-index: initial;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .aside_ad{
        display: none;
    }
    .title{
        display: none;
    }
}

.p_ad{
    padding-top: 250px;
    color: #116062;
    font-weight: bold;
}

.praying_hands{
    justify-content: center;
    color: #116062;

}

.topic_1_container{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 0 2rem;
}

.section_header{
    display: flex;
    justify-content: center;
    font-family: "Times New Roman", system-ui;
    color: #116062;
}

.topic_1{
    font-family: "Martian Mono", system-ui;
    color: #000000;
    font-size: 18px;
    margin-left: 20px;
}

.a_gr{
    color: black;
    font-weight: bold;
    font-style: italic;
    font-size: 17px;
    font-family: "Martian Mono", system-ui;
    text-decoration: 0;
}

.personal{
    font-family: "Martian Mono", system-ui;
    color: #000000;
    font-size: 18px;
    margin: 0 0 0 20px;
}

.list_equipment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px;
    font-size: 18px;
    font-family: "Martian Mono", system-ui;
    margin-bottom: 0;
}

.quote_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote_and_author{
    display: flex;
    flex-direction: column;
}

.quote{
    /*display: flex;*/
    font-family: "Martian Mono", system-ui;
    font-weight: bold;
    color: #000000;
    margin: 8px 0 0;
}

.quote_author{
    /*display: flex;*/
    font-family: "Martian Mono", system-ui;
    font-style: italic;
    font-size: 16px;
    color: #000000;
}



.pic_cobain{
    display: flex;
    /*padding-left: 62px;*/
    /*align-items: center;*/
}

.footer{
    background-color: #116062FF;
    display: flex;
    justify-content: center;
    margin: 0;
    bottom: 0;
    height: 4rem;
    align-items: center;
}

.a_tg{
    color: #ffffff;
    font-size: 25px;
    justify-content: center;
    text-decoration: 0;
    font-style: italic;
    font-family: "Martian Mono", system-ui;
}

.nav_a:hover{
    text-decoration: underline;
}

.time-container{
    display: flex;
    padding-right: 5rem;
    align-items: center;
}

.time-load-header{
    color: white;
    padding-right: 0.5rem;
}

.time-load{
    color: white;
}

.users-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-card {
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    border: 2px solid #116062;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 20px;
}

.user_info{
    font-family: "Times New Roman", system-ui;
    color: #116062;
    font-size: 1rem;
}

.preloader-container{
    display: flex;
    justify-content: center;
}

.preloader {
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-top: 6px solid #070c11;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.cards-container{
    display: flex;
}

.swal2-popup {
    border-radius: 8px;
    background-color: rgb(227, 255, 240);
    max-width: 500px;
    padding: 20px 20px 30px;
    border: 2px solid #116062;
}

.swal2-title {
    font-family: "Times New Roman", system-ui;
    color: #116062;
    font-size: 3rem;
}

.swal2-input {
    border-radius: 5px;
    background-color: #dce8f2;
    max-width: 500px;
    /*color: #070c11;*/
    color: #116062;
}

.swal2-styled {
    background-color: #116062;
}

.swal2-html-container label{
    color: #116062;
    font-size: 2rem;
}

.swal2-confirm {
    background-color: #116062;
    color: #070c11 ;
    transition: 0.2s;
}

.swal2-confirm:hover {
    background-color: #116062;
}

.swal2-validation-message {
    background-color: rgb(227, 255, 240);
    color: #116062;
    font-size: 1.25rem;
    margin: 0;
}

.registration-button{
    color: white;
    background-color: #116062;
    border: none;
    text-decoration: 0;
    text-transform: uppercase;
    font-size:19px;
    font-family: "Martian Mono", system-ui;
}

.registration-button:hover {
    text-decoration: underline white;
}

