header{
    background-color: #aa00ff;
    position: sticky;
    top: 0;
    z-index: 1;
}

.container_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title{
    color: #ffffff;
    font: bold 48px "Martian Mono", system-ui;
    display: flex;
    justify-content: left;
    margin: 0;
    font-style: italic;
}

.nav_menu{
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    padding-top: 23px;
    padding-right: 70px;
    margin: 0;
    list-style-type: none;
}

.nav_a{
    color: white;
    margin-left: 50px;
    text-decoration: 0;
    text-transform: uppercase;
    font-size:19px;
    font-family: "Martian Mono", system-ui;
    display: flex;
    justify-content: space-around;
}

body{
    background-color: #b5ffde;
    margin: 0;
}

.container_main{
    display: flex;
}

.aside_ad{
    display: flex;
    flex-direction: column;
    vertical-align: central;
    flex-basis: 20%;
    background-color: #aa00ff;
    padding: 0 10px;
    position: sticky;
    align-items: stretch;
    z-index: initial;
    text-align: center;
}

.p_ad{
    padding-top: 250px;
    color: #2effe7;
    font-weight: bold;
}

.praying_hands{
    justify-content: center;
    color: #2EFFE7FF;

}

.topic_1_container{
    display: flex;
    flex-direction: column;
}

.section_header{
    display: flex;
    justify-content: center;
    font-family: "Martian Mono", system-ui;
    color: #201ca4;
}

.topic_1{
    font-family: "Martian Mono", system-ui;
    color: #000000;
    font-size: 18px;
    margin-left: 20px;
}

.a_gr{
    color: black;
    font-weight: bold;
    font-style: italic;
    font-size: 17px;
    font-family: "Martian Mono", system-ui;
    text-decoration: 0;
}

.personal{
    font-family: "Martian Mono", system-ui;
    color: #000000;
    font-size: 18px;
    margin: 0 0 0 20px;
}

.list_equipment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px;
    font-size: 18px;
    font-family: "Martian Mono", system-ui;
    margin-bottom: 0;
}

.quote{
    font-family: "Martian Mono", system-ui;
    font-weight: bold;
    color: #000000;
    margin: 8px 0 0;
}

.quote_author{
    font-family: "Martian Mono", system-ui;
    font-style: italic;
    font-size: 16px;
    color: #000000;
}

.pic_cobain{
    padding-left: 62px;
}

.footer{
    background-color: #7502b2;
    display: flex;
    justify-content: center;
    margin: 0;
    bottom: 0;
}

.a_tg{
    color: #ffffff;
    font-size: 25px;
    justify-content: center;
    text-decoration: 0;
    font-style: italic;
    font-family: "Martian Mono", system-ui;
}


