header {
    background-color: #116062;
    position: sticky;
    top: 0;
    z-index: 1;
}

.container_header {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    width: 100%;
    gap: 10px
}

.title {
    color: #ffffff;
    font: bold 48px "Martian Mono", system-ui;
    display: flex;
    justify-content: left;
    margin: 0;
    font-style: italic;
}

.nav {
    flex-grow: 1;
}

.nav_menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
    gap: 10px;
    padding-top: 13px;
}

.nav_a {
    color: white;
    text-decoration: 0;
    text-transform: uppercase;
    font-size: 19px;
    font-family: "Martian Mono", system-ui;
}

.nav_a__this {
    color: rgba(84, 255, 170, 0.84);
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 19px;
    padding: 0.5rem;
    border: solid 2px rgba(136, 252, 189, 0.84);
    font-family: "Martian Mono", system-ui;
}

/*li:nth-child(odd) .nav_a{*/
/*    color: black;*/
/*}*/

body {
    background-color: rgba(227, 255, 240, 0.84);
    margin: 0;
}

.container_main {
    display: flex;
}

.aside_ad {
    display: flex;
    flex-direction: column;
    vertical-align: central;
    flex-basis: 20%;
    background-color: rgba(157, 241, 195, 0.84);
    padding: 0 10px;
    position: sticky;
    align-items: stretch;
    z-index: initial;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .aside_ad {
        display: none;
    }

    .title {
        display: none;
    }
}

.p_ad {
    padding-top: 250px;
    color: #116062;
    font-weight: bold;
}

.praying_hands {
    justify-content: center;
    color: #116062;

}

.topic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 4rem 0 2rem;
}

.topic-container__header {
    display: flex;
    justify-content: center;
    font-family: "Times New Roman", system-ui;
    color: #116062;
    font-size: 2rem;
}

.topic__tracklist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px;
    font-size: 1.5rem;
    font-family: "Martian Mono", system-ui;
    margin-bottom: 0;
    padding-bottom: 3em;
}

.topic__tracklist > li > a {
    text-decoration: underline;
    padding: 0.5rem;
    font-family: "Martian Mono", system-ui;
    color: #116062;
    font-size: 1.5rem;
    font-weight: bold;
}

.chord-meme {
    height: auto;
    width: auto;
    padding-bottom: 1rem;
}

.topic1__form-explain {
    display: flex;
    justify-content: center;
    font-family: "Times New Roman", system-ui;
    color: #116062;
    font-size: 1.8rem;
}

.container_main__song-request {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid #116062;
    border-radius: 20px;
    padding: 1.2rem 7rem;
}

.request-form_font {
    font-family: "Martian Mono", system-ui;
    color: #116062;
    font-size: 1.7rem;
    font-weight: bold;
}

.request__input {
    padding: 0.1rem 1.5rem;
}

.song-request__name {
    padding-bottom: 0.5rem;
}

.song-request__suggestedURL {
    padding: 0.5rem;
}

.song-request__authorEmail {
    padding: 0.5rem;
}

.submit-request {
    margin-top: 1.2rem;
    background-color: rgba(171, 238, 208, 0.84);
    border-radius: 20px;
    padding: 0.2rem 0.2rem;
}

.container-text {
    display: flex;
    justify-content: center;
    font-family: "Times New Roman", system-ui;
    color: #116062;
    font-size: 1.7rem;
}

.requests-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reservation_label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
}

.tracklist__track{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid #116062;
    border-radius: 20px;
    padding: 0.4rem 0.4rem;
}

.reservation_label {
    font-family: "Times New Roman", system-ui;
    color: #116062;
    font-size: 1.7rem;
}

.reservation_delete{
    margin-top: 1.2rem;
    background-color: rgba(171, 238, 208, 0.84);
    border-radius: 20px;
    /*padding: 0.2rem 0.2rem;*/
    width: 10rem;
}

.topic1__header {
    display: flex;
    justify-content: center;
    font-family: "Times New Roman", system-ui;
    color: #116062;
    font-size: 1.7rem;
}

.topic1 {
    font-family: "Martian Mono", system-ui;
    color: #000000;
    font-size: 1.5rem;
    padding-bottom: 3rem;
}

.footer {
    background-color: #116062FF;
    display: flex;
    justify-content: center;
    margin: 0;
    bottom: 0;
    height: 4rem;
    align-items: center;
}

.a_tg {
    color: #ffffff;
    font-size: 25px;
    justify-content: center;
    text-decoration: 0;
    font-style: italic;
    font-family: "Martian Mono", system-ui;
}

.nav_a:hover {
    text-decoration: underline;
}

.time-container {
    display: flex;
    padding-right: 5rem;
    align-items: center;
}

.time-load-header {
    color: white;
    padding-right: 0.5rem;
}

.time-load {
    color: white;
}



